section.Auth {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.Auth p {
    padding: 10px 20px;
    color: var(--smallpara-color);
    font-size: 14px;
}

section.Auth p span {
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
}

section.Auth form
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.Auth form h3
{
    text-align: center;
    color: var(--title-color);
}

section.Auth form fieldset
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: none; 
}

section.Auth form fieldset legend{
    color: var(--title-color);
    font-weight: 600;
    margin-bottom: 20px;
}

section.Auth form div
{
    display: flex;
    align-items: center;
    gap: 10px;
}

section.Auth form div input
{
    padding: 8px 20px;
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.552);
    outline: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}


section.Auth form div input:focus
{
    border-bottom: 2px solid var(--primary-color);
}

section.Auth form button
{
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: .4s ease;
}

section.Auth form button:hover
{
    background-color: var(--primary-hover-color);
}

section.Auth form button:disabled {
    background-color: rgba(118, 174, 118, 0.687);
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.Auth form fieldset .error {
    color: red;
    border: 1px solid red;
    padding: none!important;
    background-color: rgba(255, 0, 0, 0.216);
}

section.Auth .Eye {
    cursor: pointer;
}

section.Auth .errorMsg {
    color: red;
    text-align: center;
}

.Demo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-top: 20px;
    background-color: rgba(0, 128, 0, 0.726);
    cursor: pointer;
    transition: .4s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.Demo p {
    color: white !important;
    font-weight: 700;
}

.Demo:hover {
    background-color: green;
}
